{% extends "webserver/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to green machine</h1>
    <p class="lead">
        Powerplant system that does stuf you know
    </p>
    <hr class="my-4">
    <p class="lead">
        {% if user.is_authenticated %}
        <a class="btn btn-primary btn-lg" href="{% url 'webserver:logout' %}" role="button">Logout</a>
        {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'webserver:login' %}" role="button">Sign in</a>
        {% endif %}
    </p>
</div>

{% endblock content %}